*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
input, textarea{
	outline:none
}
body{
	background: rgba(255,255,255,.3);
	padding:60px;
	font:13px/1.5  Arial,'Microsoft YaHei';
}
@mixin avatar($red:200,$green:200,$blue:200){
	background: rgba(random()*$red,random()*$green,random()*$blue,.3);
}
@function avatar($red:200,$green:200,$blue:200){
	@return rgba(random()*$red,random()*$green,random()*$blue,.3);
}
.wrap::after{
	content:'';
	display:table;
	clear:both;
}
.msg{
	float:left;
	position:relative;
	max-width:300px;
	min-width:200px;
	padding:15px;
	border:1px solid #ccc;
	border-radius:7px;
	margin-bottom:30px;
	h3{
		position:absolute;
		top:0;
		left:0;
		transform:translateX(-120%);
		width:40px;
		height:40px;
		border-radius:50%;
		text-align:center;
		font-size:13px;
		line-height:40px;
		color:#fff;
		background:avatar();
		/*@include avatar();*/
	}
	.content{
		text-indent:1.5em;
	}
}
.taskadd{
	input{
		border:1px solid #ccc;
	}
	textarea{
		border:1px solid #ccc;
		font-size:13px;
		height:300px;
		margin:10px auto;
		padding:2px;
		width:480px;
		resize:none;
	}
	a{
		text-decoration: none;
	}
}
.query{
	label{
		color:#333;
		font-weight:400;
	}
	input{
		height: 33px;
		border:1px solid #ccc;
		border-radius:3px;
	}
	.btn{
		position: relative;
		top: -1px;
	}
}


