<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <title>Task collector</title>
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<body>
  <div id="app"></div>
  <% if (htmlWebpackPlugin.options.development) { %>
  <script src="//cdn.bootcss.com/eruda/1.2.1/eruda.min.js"></script>
  <script>eruda.init()</script>
  <% } %>
</body>
</html>
