#app {
  height: 100vh;
}

.flex-auto {
  height: 0;
  flex: auto;
  overflow: auto;
}

.navbar-nav.flex-row > .nav-item {
  padding-left: .5em;
  padding-right: .5em;
}

.overflow-auto {
  overflow: auto;
}

.user-corner {
  margin-top: -1rem;
}

.user-corner img {
  width: 48px;
}

.task-create textarea {
  height: 8em;
}

.task-item pre {
  white-space: pre-wrap;
}

.cursor-pointer {
  cursor: pointer;
}